{% extends "blueprint_page.html" %}
{% block content %}
<div class="contact_outer_section">
    <h1>About Page</h1>
    <div class="about_data_section_outer">
        <div class="about_data_section_inner">
            <p>Album information is pulled from Spotify API/python package. This includes but is not limited to: [Album cover art, album name, song name, album release date, artist cover picture, etc.]</p>
            <p>Lyric information is pulled from Genius.com API/python package.</p>
            <br>
            <p>Created by: Robert Borowski</p>
            <p>Contact: LyricCount@gmail.com</p>
        </div>
    </div>
</div>
{% endblock %}